name: Deploy to Heroku

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy Backend to Heroku
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
          HEROKU_EMAIL: ${{secrets.HEROKU_EMAIL}}
        run: |
          git config --global user.email "$HEROKU_EMAIL"
          git config --global user.name "GitHub Actions"
          SPLIT_SHA=$(git subtree split --prefix backend main)
          git push https://heroku:$HEROKU_API_KEY@git.heroku.com/tripsyncheroku.git $SPLIT_SHA:refs/heads/main --force

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy Frontend to Heroku
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
          HEROKU_EMAIL: ${{secrets.HEROKU_EMAIL}}
        run: |
          git config --global user.email "$HEROKU_EMAIL"
          git config --global user.name "GitHub Actions"
          SPLIT_SHA=$(git subtree split --prefix frontend/tripsync-frontend main)
          git push https://heroku:$HEROKU_API_KEY@git.heroku.com/tripsyncheroku-frontend.git $SPLIT_SHA:refs/heads/main --force