name: Deploy to Heroku

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy Backend to Heroku
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run: |
          cat > ~/.netrc <<EOF
          machine api.heroku.com
            login ${{secrets.HEROKU_EMAIL}}
            password ${{secrets.HEROKU_API_KEY}}
          machine git.heroku.com
            login ${{secrets.HEROKU_EMAIL}}
            password ${{secrets.HEROKU_API_KEY}}
          EOF
          chmod 600 ~/.netrc
          git remote add heroku-backend https://git.heroku.com/tripsyncheroku.git || true
          git push heroku-backend `git subtree split --prefix backend main`:refs/heads/main --force

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Deploy Frontend to Heroku
        env:
          HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
        run: |
          cat > ~/.netrc <<EOF
          machine api.heroku.com
            login ${{secrets.HEROKU_EMAIL}}
            password ${{secrets.HEROKU_API_KEY}}
          machine git.heroku.com
            login ${{secrets.HEROKU_EMAIL}}
            password ${{secrets.HEROKU_API_KEY}}
          EOF
          chmod 600 ~/.netrc
          git remote add heroku-frontend https://git.heroku.com/tripsyncheroku-frontend.git || true
          git push heroku-frontend `git subtree split --prefix frontend/tripsync-frontend main`:refs/heads/main --force